.box {
  width: 400px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.logo {
  padding: 25px;
  font-size: 30px;
  text-align: center;
}

.input {
  width: 300px;
  margin: 5px;
  padding: 12px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 12px;
}

.signupBtn {
  width: 300px;
  height: 40px;
  margin: 20px 0 30px 0;
  background-color: #e2e2e2;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.regExp {
  width: 300px;
  height: 20px;
  display: flex;
  align-items: center;
  color: red;
  font-size: 12px;
  padding-left: 5px;
}
