.react-calendar_tile--holidays {
  color: red;
}

.holidays {
  font-size: 12px;
  padding: 4px 0 0 2px;
}

.react-calendar_tile--saturday {
  color: rgb(38, 38, 255);
}

.react-calendar-background {
  width: 100%;
  height: 83%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 63px;
}

.calendar-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 35px;
  justify-content: center;
}

.react-calendar {
  width: 90%;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  color: #bbb;
  min-width: 44px;
  background: none;
  font-size: 15px;
  margin-top: 12px;
}

.react-calendar__navigation span {
  color: black;
}

.react-calendar__navigation button:disabled,
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e9e9e9;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #e9e9e9;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
  color: black;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile abbr:hover,
.react-calendar__tile abbr:enabled:hover,
.react-calendar__tile abbr:enabled:focus {
  border-radius: 50%;
  background-color: #e9e9e9;
}

.react-calendar__tile--now abbr,
.react-calendar__tile--now abbr:enabled:hover,
.react-calendar__tile--now abbr:enabled:focus {
  border-radius: 50%;
  background: #ffe3db;
}

.react-calendar__tile--active abbr {
  border-radius: 50%;
  background: #ff9a9e;
  color: white;
}

.react-calendar__tile--active abbr:enabled:hover,
.react-calendar__tile--active abbr:enabled:focus {
  border-radius: 50%;
  background: #ff9a9e;
}

.react-calendar__month-view__days__day {
  height: 5.2rem;
  text-align: left;
  display: flex;
  align-items: flex-start;
}

.react-calendar__month-view__days__day abbr {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}